<div style="position: fixed; top : 0; width: 100%; background-color: white; z-index: 999;">
    <div style=" display: flex; align-items: center;">
      <img src="../../../../assets/1.svg" class="logo">
      <ul class="nav-item-list">
        <li class="nav-item">Work</li>
        <li class="nav-item">Services</li>
        <li class="nav-item">About</li>
        <li class="nav-item">Contact</li>
        <button class="book-btn">Book Now</button>
      </ul>
    </div>
  </div>
  <section class="first-section">
    <div>
      <h3>Services</h3>
      <h2>Wedding Photography</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
        sadipscing
        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
  </section>
  
  <section class="second-section">
    <div class="information-container">
      <h3>Services</h3>
      <h2>Wedding Photography</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </section>
  
  <section class="third-section">
    <div class="img">
      <div class="information-container">
        <h3>Services</h3>
        <h2>Wedding Photography</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore</p>
        <p> magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
          kasd</p>
        <p> gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </section>
  
  <section class="fourth-section">
    <h3>Gallery</h3>
    <h4>Wedding Photography Gallery</h4>
    <div class="row">
      <div class="col col-xl-3 col-lg-3 col-md-12 col-sm-12">
        <div style="position: relative;">
          <div>
            <img class="gallery-img"
              src="https://images.pexels.com/photos/3785642/pexels-photo-3785642.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            <h1 class="test" style="position: absolute;
            bottom: 40px;
            left: 0px;
            background-color: white;
            padding: 10px 20px;">Sam and Cassandra</h1>
          </div>
        </div>
        <div style="position: relative;">
          <div>
            <img class="gallery-img"
              src="https://images.pexels.com/photos/1666332/pexels-photo-1666332.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            <h1 style="position: absolute;
          bottom: 40px;
          left: 0px;
          background-color: white;
          padding: 10px 20px;">Sam and Cassandra</h1>
          </div>
        </div>
  
      </div>
      <div class="col col-xl-3 col-lg-3 col-md-12 col-sm-12">
        <img class="gallery-img"
          src="https://images.pexels.com/photos/3354636/pexels-photo-3354636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        <img class="gallery-img"
          src="https://images.pexels.com/photos/2403568/pexels-photo-2403568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
  
  
      </div>
      <div class="col col-xl-3 col-lg-3 col-md-12 col-sm-12">
        <img class="gallery-img"
          src=" https://images.pexels.com/photos/759668/pexels-photo-759668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        <img class="gallery-img"
          src="https://images.pexels.com/photos/3578784/pexels-photo-3578784.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
  
      </div>
      <div class="col col-xl-3 col-lg-3 col-md-12 col-sm-12">
        <img class="gallery-img "
          src="https://images.pexels.com/photos/3014857/pexels-photo-3014857.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
        <img class="gallery-img"
          src="https://images.pexels.com/photos/3585798/pexels-photo-3585798.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
  
  
      </div>
    </div>
  </section>
  <!-- 
  <section class="fith-section">
    <img
      src="https://images.pexels.com/photos/2959195/pexels-photo-2959195.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
  </section>
  -->
  <section class="sith-section">
    <div>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
        sadipscing
        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
      <h4>Bob Natalie Singor</h4>
    </div>
  </section>
  
  <section class="seventh-section">
    <h3>Latest Blogposts</h3>
    <h4 style="margin-bottom: 50px;">Memories that will never been forgotten</h4>
    <div class="row">
      <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12" style="display: flex; justify-content: center;">
        <div class="blog-post-wrapper">
          <img class="img-1">
          <h5 style="margin-top: 30px;">Jerusalem </h5>
          <h5>Wedding </h5>
          <hr>
          <h5>29 December 2019</h5>
  
        </div>
  
      </div>
      <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12" style="display: flex; justify-content: center;">
        <div class="blog-post-wrapper">
          <img class="img-2">
          <h5 style="margin-top: 30px;">Jerusalem </h5>
          <h5>Wedding </h5>
          <hr>
          <h5>29 December 2019</h5>
        </div>
      </div>
      <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12" style="display: flex; justify-content: center;">
        <div class="blog-post-wrapper">
          <img class="img-3">
          <h5 style="margin-top: 30px;">Jerusalem </h5>
          <h5>Wedding </h5>
          <hr>
          <h5>29 December 2019</h5>
        </div>
      </div>
    </div>
    <div class="row" style="margin: 100px 0px;">
      <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <button class="view-all-btn">View all</button>
      </div>
  
    </div>
  </section>
  
  <section class="footer">
    <div class="row">
      <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12" style="display: flex; justify-content: center;">
        <div style="text-align: center;">
          <h5 class="heading">Contact:</h5>
          <h5>Email: adsad@asdasd.ade</h5>
          <h5>Phone: 025965995666</h5>
          <h5>Jerusalem, Israel</h5>
        </div>
      </div>
      <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12" style="display: flex; justify-content: center;">
        <div style="text-align: center;">
          <h5 class="heading">Quick Links:</h5>
          <h5>Home</h5>
          <h5>Work</h5>
          <h5>Services</h5>
          <h5>About</h5>
          <h5>Contact</h5>
          <h5 class="build-by">Build with Heart by XXXXX XXXXXXXXX</h5>
        </div>
      </div>
      <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12" style="display: flex; justify-content: center;">
        <div style="text-align: center;">
          <h5 class="heading">Social:</h5>
          <h5>Facebook</h5>
          <h5>Instagram</h5>
          <h5>Linkedin</h5>
          <h5>Usplash</h5>
        </div>
      </div>
    </div>
  </section>
  
  
  